<div id="panelLeft">
  <div id="postNew" contenteditable="true"></div>

  <div id="postBgCb">
    <select name="colorpicker-shortlist" id="colorPicker">
      <option value="#7bd148">Green</option>
      <option value="#5484ed">Bold blue</option>
      <option value="#a4bdfc">Blue</option>
      <option value="#46d6db">Turquoise</option>
      <option value="#7ae7bf">Light green</option>
      <option value="#51b749">Bold green</option>
      <option value="#fbd75b">Yellow</option>
      <option value="#ffb878">Orange</option>
      <option value="#ff887c">Red</option>
      <option value="#dc2127">Bold red</option>
      <option value="#dbadff">Purple</option>
      <option value="#e1e1e1">Gray</option>
    </select>

  </div>


    <%if(req.isAuthenticated()) { %>
    <div id="postMy">
      <span class='my' id="showMy">My</span>
      <span class='my' id="showAll" style="display:none;">All</span>
    </div>
    <% }else{ %>
    <div id="login">
      <a href="/auth/facebook"><img src="/images/fb-login.png" style="max-width: 100%;"/></a>
    </div>
    <% } %>

  <div id="logo">
    <a href="/auth/facebook"><img src="/images/logo.png" style="max-width: 100%;"/></a>
  </div>


</div>
<div id='posts' style="float:left;">
  <video autoplay  poster="https://s3-us-west-2.amazonaws.com/coverr/poster/City-Nights_thumb.jpg" id="bgvid" loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="https://s3-us-west-2.amazonaws.com/coverr/webm/City-Nights.webm" type="video/webm">
    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/City-Nights.mp4" type="video/mp4">
  </video>
</div>

