body{
  margin: 0;
  overflow: hidden;
}
a { color: inherit; }
#panelLeft {
  background: rgba(202, 202, 202, 0.1);
  background-position:right;
  position: absolute;
  height: 100%;
  width:250px;
  z-index: 10;
  left:-200px;
}

#posts {

  height: 100%;
  width: 100%;


}
.wrapper {
  padding: 15px;
  background: white;
  /* note that shadows reduce the framerate significantly. */
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  -o-box-shadow: 2px 2px 8px rgba(0,0,0,.75);
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  position: absolute;
}

.post {
  max-width: 180px;
  /*max-height: 200px;*/
}

.textPost{
  font-family: 'The Girl Next Door', cursive;
  word-wrap: break-word;
}

.textVoteStatusLabel{
  font-family: 'The Girl Next Door', cursive;
  text-decoration: underline;
  font-weight: bold;
  font-size: x-large;
}
.textVoteStatus{
  font-family: 'The Girl Next Door', cursive;
  font-weight: bold;
  font-size: x-large;
}

.textVote{
  font-family: 'The Girl Next Door', cursive;
  word-wrap: break-word;
  text-decoration: underline;
  font-size: x-large;
}
.my{
  font-family: 'The Girl Next Door', cursive;
  word-wrap: break-word;
  text-decoration: underline;
  font-size: x-large;
}

#postNew {
  font-family: 'The Girl Next Door', cursive;
  padding: 15px;
  top:10px;
  left:38px;
  width: 180px;
  height: 200px;
  background: white;
  -webkit-transform: rotate(-2deg);
}

#postBgCB {
  width:175px;

  margin:0px;
  top: 250px;
  left: 37px;
  background: white;
  position: absolute;
  -webkit-transform: rotate(2deg);
  padding-left: 16px;
}

#postMy {
  position: absolute;
  padding: 15px;
  margin:5px;
  top: 350px;
  left: 20px;
  background: rgb(81, 183, 73);
  -webkit-transform: rotate(2deg);
}


#editIcon {
  top: 10px;
  left: 70px;
  position: absolute;
}


video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//s3-us-west-2.amazonaws.com/coverr/poster/City-Nights_thumb.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(//s3-us-west-2.amazonaws.com/coverr/poster/City-Nights_thumb.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

#login{
  width: 175px;
  margin: 0px;
  top: 378px;
  left: 44px;
  position: absolute;
  -webkit-transform: rotate(-20deg);
}

#logo{
  width: 175px;
  margin: 0px;
  top: 500px;
  left: 44px;
  position: absolute;
  -webkit-transform: rotate(20deg);
}
